<template>
    <section class=body>
        <p>Queue</p>
    </section>
</template>

<script>
    export default {
        name: "Queue",
        data() {
            return {
                dropFiles: []
            }
        },
        methods: {
            deleteDropFile(index) {
                this.dropFiles.splice(index, 1)
            }
        }
    }

</script>

<style>
</style>
