<template>
    <div class="body">
        <h1 class=is-size-4>Settings</h1>
        <p><b>Configure <code>Knippi</code> to your liking</b></p>
        <br>
        <h1>Path to Dolphin: {{ dolphin }}</h1>
        <b-button @click="setDolphinPath">Select...</b-button>
        <h1>Path to Replay Folder: {{ replayfolder }}</h1>
        <b-button @click="setReplayFolder">Select...</b-button>
        <h1>Path to Melee ISO: {{ meleeISO }}</h1>
        <b-button @click="setMeleeISOPath">Select...</b-button>
        <br><br>
        <b-button @click="saveChanges">Save changes</b-button>
    </div>
</template>

<script>
import { invoke, promisified } from 'tauri/api/tauri'
import * as dialog from 'tauri/api/dialog'

export default {
    name: "Settings",
    data() {
        return {
            dolphin: null,
            replayfolder: null,
            meleeISO: null,
        }
    },
    created() {
        promisified({
            cmd: 'getConfig'
        }).then((response) => {
            let config = JSON.parse(response)
            this.dolphin = config.dolphin_path
            this.replayfolder = config.replay_folder_path
            this.meleeISO = config.melee_iso_path
        })
    },
    methods: {
        setDolphinPath: function () {
            dialog.open().then((res) => {
                this.dolphin = res
            })
        },
        setReplayFolder: function () {
            dialog.open({ directory: true }).then((res) => {
                this.replayfolder = res
            })
        },
        setMeleeISOPath: function () {
            dialog.open().then((res) => {
                this.meleeISO = res
            })
        },
        saveChanges: function () {
            let data = { 
                dolphin_path: this.dolphin, 
                replay_folder_path: this.replayfolder,
                melee_iso_path: this.meleeISO
            }
            invoke({
                cmd: 'storeConfig',
                config: data
            })
            this.$buefy.toast.open('Saved changes!')
        }
    }
}
</script>

<style>
</style>
